.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.text {
    color: #000;
    font-family: Inconsolata;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}