.productInfo {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    width: 704px;
    border-radius: 8px;
    border: 4px solid #000;
    background-color: #03D1AA;
    box-shadow: 4px 4px 0px 0px #000;
    height: 564px;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFF;
    box-shadow: 2px 4px 0px 0px #000;
    height: 562px;
}

.aboutProduct {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.productText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header {
    color: #000;
    font-family: Inconsolata;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.text {
    color: #000;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.value {
    color: #000;
    text-align: right;
    font-family: Inconsolata;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    align-items: flex-end;
}

.curr {
    color: #000;
    font-family: Inconsolata;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}